extends ../layout 
block content
    a(href="/bicicletas/create") Nueva bicicleta
    table.table
        thead
            tr
                th(scope="col") #
                th(scope="col") Color
                th(scope="col") Modelo
                th(scope="col") Ubicacion
                th(scope="col") Modificar
                th(scope="col") Eliminar
        tbody
            each bicicleta in bicicletas
                tr
                    td(scope="row")=bicicleta.code
                    td=bicicleta.color
                    td=bicicleta.modelo
                    td=bicicleta.ubicacion
                    td
                        a(href="/bicicletas/"+bicicleta.id+"/modify") Editar
                    td
                        form.inline(method="post" action="/bicicletas/" + bicicleta.code + "/remove")
                            input(type="hidden" name="id" value=bicicleta.id)
                            button.link-button(type="submit" name="submit_param" value="submit_value" class="btn")="Eliminar"

                            